ul{
		list-style-type:none;
		padding-left:0px;
}
li{
	float:left;
	list-style-type:none;
}
.myback{
  background-color: red;
}

.myspace{

  margin-bottom: 50px;
}

.clearfix:after{
	display:block;
	content:".";
	clear:both;
	overflow:hidden;
	visibility:hidden;
	height:0px;
	background-color:red;
}
